<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/css/LigatureSymbols/style.css" />
  {% block css %}{% endblock %}
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/quickdocs.js"></script>
</head>
<body>
<div id="container">
  {% include "partials/header.html" %}
  <div id="content">
  {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>
