{% extends "layouts/default.html" %}
{% block title %}{{ project-name }} | Quickdocs{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
{% endblock %}
{% block content %}
<header>
  <h2 class="project-name"><a href="/{{ project-name }}/">{{ project-name }}</a></h2>
  <span class="subtitle">API Reference</span>
  {% include "partials/header-links.html" %}
</header>

<nav class="toc-systems">
  <header><h2>Systems</h2></header>
  <dl>
    {% for system in systems %}
    <dt><a href="#system-{{ system.name }}">{{ system.name }}</a></dt>
    {% if system.description %}
    <dd class="one-line-description">{{ system.description }}</dd>
    {% endif %}
    {% endfor %}
  </dl>
</nav>

{% for system in systems %}
<article class="system">
  <nav class="toc">
  <h3>Package Index</h3>
  <ul class="toc-packages">
    {% for package in system.packages %}
      <li><a href="#package-{{ package.name }}" title="{{ package.name }}">{{ package.name }}</a></li>
    {% endfor %}
  </ul>
  </nav>

  <header>
    <h1 id="system-{{ system.name }}">{{ system.name }}</h1>
    {% if system.description %}
    <p class="description">{{ system.description }}</p>
    {% endif %}
  </header>

  <div class="api">
    {% for package in system.packages %}
      <section class="package">
        <h2 id="package-{{ package.name }}"><a href="#package-{{ package.name }}">{{ package.name }}</a></h2>
        {% if package.docstring %}
        <div class="docstring"><pre>{{ package.docstring }}</pre></div>
        {% endif %}
        {% if package.external-symbols %}
        <ul>
          {% for symbol in package.external-symbols %}
          <li class="symbol">
            <span class="symbol-type label {{ symbol.type }}">{{ symbol.type | capfirst }}</span>
            <code class="symbol-name">{% if symbol.setfp %}(setf {{ symbol.name }}){% else %}{{ symbol.name }}{% endif %}</code>
            {% if symbol.lambda-list %}
            <span class="lambda-list">
              {{ symbol.lambda-list | lambda-list | safe }}
            </span>
            {% endif %}
            {% if symbol.superclasses %}
            &nbsp;({% for superclass in symbol.superclasses %}<code class="symbol-name">{{ superclass | symbol }}</code>{% if not forloop.last %}, {% endif %}{% endfor %})
            {% endif %}
            {% if symbol.include-structs %}
            includes ({% for include in symbol.include-structs %}<code class="symbol-name">{{ include | symbol }}</code>{% if not forloop.last %}, {% endif %}{% endfor %})
            {% endif %}
            {% if symbol.initial-value %}
            <pre class="initial-value">{{ symbol.initial-value | lower }}</pre>
            {% endif %}
            <div class="docstring">{{ symbol.docstring }}</div>
            {% if symbol.type == "class" or symbol.type == "struct" %}
            {% if symbol.slots %}
            <dl class="slot-list">
              {% for slot in symbol.slots %}
              <dt>
                <code class="symbol-name">{{ slot.name | symbol }}</code>
                {% if slot.accessors %}
                &nbsp;&nbsp;<span class="label">Accessor</span>:
                {% for accessor in slot.accessors %}
                <code class="symbol-name">{{ accessor | symbol }}</code>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% if slot.readers %}
                &nbsp;&nbsp;<span class="label">Reader</span>:
                {% for reader in slot.readers %}
                <code class="symbol-name">{{ reader | symbol }}</code>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% if slot.writers %}
                &nbsp;&nbsp;<span class="label">Writer</span>:
                {% for writer in slot.writer %}
                <code class="symbol-name">{{ writer | symbol }}</code>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
              </dt>
              {% if slot.docstring %}
              <dd>{{ slot.docstring }}</dd>
              {% endif %}
              {% endfor %}
            </dl>
            {% else %}
            <div class="nothing">No slots.</div>
            {% endif %}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="nothing">No exported symbols.</div>
        {% endif %}
        {% if package.reexport-symbols %}
        <h3>Also exports</h3>
        <ul class="also-exports">
        {% for symbol in package.reexport-symbols %}
          <li><code class="symbol-name">{{ symbol | symbol-with-package }}</code></li>
        {% endfor %}
        </ul>
        {% endif %}
      </section>
    {% endfor %}
    {% if not system.packages %}
      <div class="nothing">No packages.</div>
    {% endif %}
  </div>
</article>
{% endfor %}

{% include "partials/footer.html" %}

<ul class="breadcrumb-header-container" style="display: none">
  <li><a href="#global-header" class="top-link lsf">home</a></li>
</ul>
<div class="pager-link-container" style="display: none">
  <a class="pager-link lsf-icon" title="up">Prev</a>
  <a class="pager-link lsf-icon" title="down">Next</a>
</div>
{% endblock %}
